.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items:  flex-start;
  display: none;
  transition: visibility 700ms, opacity 1s ease;
  visibility: hidden;
  opacity: 0;
}
