.popup__submit-button {
  width: 358px;
  background: #000000;
  border-radius: 2px;
  color: #FFFFFF;
  padding: 14px 0 18px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border-color: #000000;
  cursor: pointer;
}

.popup__button_disabled {
  color: #000000;
  background-color: #E5E5E5;
  border: 1px solid #000000;
}

.popup__submit-button:hover:valid {
  background: rgba(0, 0, 0, 0.8);
}

@media (max-width: 767px) {
  .popup__submit-button {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
  }
 }
