.header {
    height: 74px;
    margin-top: 45px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}
@media (max-width: 767px) {
 .header {
  height: 56px;
  margin-top: 28px;
  padding-left: 27px;
 }
}
